
*.csv
*.tsv
*.parquet
*.json
data/
out/


__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/


.env
.venv
env/
venv/


*.log
derby.log
metastore_db/
spark-warehouse/
*.duckdb
*.duckdb.wal


.DS_Store
Thumbs.db